.Feed{
    gap: 1em 1.3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.Loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Channel_logo > img{
    border-radius: 50%;
    margin-top: .5em;
}

.Collection img{
    width: 100%;
}

.Channel_desc > h2, .Channel_desc > h3, .Channel_desc > p{
    margin-top: .5em;
}

.Collection h2{
    font-size: 1.1rem;
}

.Collection h3{
    font-size: 1rem;
}

.Collection p{
    font-size: .9em;
}

.Video_Thumbnail{
    border-radius: 1em;
    overflow: hidden;
}

.Channel_desc{
    display: flex;
    flex-direction: column;
}

