.Normal{
    display: flex;
    justify-content: space-between;
    padding: 1em .9em;
    box-shadow: 0 0 5px ;
    position:sticky;
    top: 0;
    background-color: white;
    gap: 10px;
}

.Navbar img{
    width: 30px;
    height: 30px;
    background: inherit;
}

.Left, .Right{
    flex: 1;
}

.Middle{
    flex: 2;
    justify-content: center;
}

.Right{
    justify-content: end;
}

.Left, .Middle, .Right, .Youtube_Title, .Upload{
    display: flex;
    gap: 10px;
    align-items: center;
}

.Youtube_Title > p{
    font-weight: bolder;
    font-size: 1.3em;
}

.Youtube_Title > img, .User_logo> img{
    height: 35px;
    width: 35px;
}

input{
    border: none;
    outline: none;
    font-size: 1em;
    width:  90%;
    padding-inline: 1em;
    border-radius: 1em;
}

.Search_bar{
    display: flex;
    border : .1px solid;
    border-radius: 1em;
    flex: 1;
    max-width: 400px;
    overflow: hidden;
}

.Search_bar > img{
    padding: 0.2em;
}


.Mic{
    overflow: hidden;;
    border-radius: .7em;
}

.Notification > img, .Mic > img, .Search_bar > img, .Upload > img{
    width: 30px;
    height: 30px;
}

.Notification, .Upload, .Search_bar, .Mic{
    background-color: rgba(231, 231, 231, .8);
}

.Upload,.Notification{
    overflow: hidden;
    height: 100%;
    border-radius: 1em;
}

.Upload{
    gap: 0;
}

.Upload > p{
    padding-inline: 5px;
    font-weight: bold;
}

.User_logo > img{
    border-radius: 1em;
}

.Mini_Searchbar_window, .Mini_Search_icon{
    display: none;
}

.Youtube_Title,.Menubar,img[alt="Search Bar"]{
    cursor: pointer;
}

@media only screen and (max-width : 600px) {
    
    .Mic,.Upload{
        display: none;
    }
}

@media screen and (max-width : 400px) {
    .Normal{
        padding: .4em;
    }

    .Youtube_Title{
        font-size: .8em;
    }

    .Normal img{
        width: 30px;
        height: 30px;
    }

    .Middle input,.Search_bar{
        display: none;
    }

    .Middle{
        justify-content: right;
    }

    .Mini_Search_icon{
        display: block;
    }

    .Mini_Searchbar_window{
        display: none;
        width: 100%;
        border: 1px solid;
    }

    .activeSearchBar{
        display: flex;
    }

}