.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em .5em;
    box-shadow: 0 0 5px ;
}

.Navbar img{
    width: fit-content;
    height: 35px;
}

.Menubar{
    margin-left: .4em;
}

.Left, .Upload, .Right, .Middle, .Youtube_Title, .Search_bar{
    display: flex;
}

.Left, .Youtube_Title, .Middle, .Right{
    gap: 10px;
}

.User_logo > img{
    border-radius: 50%;
}

p{
    font-family: sans-serif;
    font-weight: bold;
    align-self: center;
}

.Search_bar, .Navbar input{
    border-radius: 1em;
    overflow: hidden;
}

.Search_bar{
    box-shadow: 0 0 5px;
    flex: 1;
}

.Navbar input{
    border: none;
    outline: none;
    padding-inline: 1em;
    flex: 1;
}

.Search_bar .Mic{
    padding-left: 1em;
}

.Search_bar, .Mic, .Upload{
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 1em;
}

.Middle{
    max-width: 500px;
    flex: 1;
}

.Upload{
    padding-inline: 7px;
}

.Left, .Right, .Middle{
    align-items: center;
}