.Sidebar{
    width: max-content;
    box-shadow: 0 1px 5px;
}

.Side-icons > img{
    width: 30px;
    height: 30px;
    margin-right: 0.6em;
}
.Side-icons{
    display: flex;
    padding: 1em;
    margin-left: .15em;
}

.Subs_Title{
    padding: 1em;
}

.Subscribers img{
    border-radius: 50%;
}

.Sidebar p{
    display: none;
}
.Visible p{
    display: block;
}

.active > img{
    border-bottom: 3px solid red;
}