.Recommented{
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.Recommented_Video{
    display: flex;
    gap: 15px;
    margin-bottom: 1em;
}

.RVideo_Thumbnail > img{
    width: 200px;
    height: 140px;
    border-radius: 1em;
}

.RVideo_desc > h2, .RVideo_desc > h3, .RVideo_desc > p{
    margin-bottom: .5em;
}

.RVideo_desc > h2{
    font-size: 1em;
}

.RVideo_desc > h3{
    font-size: 0.9em;
}

.RVideo_desc > p{
    font-size: .8em;
}


@media screen and (max-width : 1100px) {
    .Recommented{
        margin-top: 5em;
        width: 100%;
    }

}

@media screen and (max-width : 550px) {
    
    .Recommented_Video{
        flex-direction: column;
        gap: 0;
    }

    .RVideo_Thumbnail > img{
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    .RVideo_desc{
        padding: 0.8em;
    }
}